<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link id="theme-style" rel="stylesheet" href="/assets/resume-1/css/styles.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<input id="onChange_Image" (change)="onChange_Image($event)" type="file" style="display: none;" />
<input id="onChange_PortfolioItemImage" (change)="onChange_PortfolioItemImage($event)" type="file" style="display: none;"
/>

<header class="header">
    <div class="top-bar container-fluid">
        <div class="actions">
            <a *ngIf="!isEdit" class="btn d-none d-md-inline-block" href="mailto: {{ profile == null? '' : profile.emailAddress }}">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me
            </a>
            <button *ngIf="!isEdit" (click)="onClick_Edit()" class="btn d-none d-md-inline-block">
                <i class="fa fa-edit" aria-hidden="true"></i> Edit
            </button>
            <button *ngIf="isEdit" (click)="onClick_Save()" class="btn d-none d-md-inline-block">
                <i class="fa fa-save" aria-hidden="true"></i> Save
            </button>
        </div>
        <ul *ngIf="!isEdit" class="social list-inline">
            <li *ngIf="profile == null? false : (profile.linkedInLink == null? false : profile.linkedInLink)" class="list-inline-item">
                <a href="{{ profile.linkedInLink }}">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li *ngIf="profile == null? false : (profile.twitterLink == null? false : profile.twitterLink)" class="list-inline-item">
                <a href="{{ profile.twitterLink }}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li *ngIf="profile == null? false : (profile.googlePlusLink == null? false : profile.googlePlusLink)" class="list-inline-item">
                <a href="{{ profile.googlePlusLink }}">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="intro">
        <div class="container text-center">
            <img class="profile-image" src="{{ profile == null? 'http://via.placeholder.com/350x350' : (profile.image == null? 'http://via.placeholder.com/350x350' : profile.image | safeHtml) }}"
                alt="">
            <div *ngIf="isEdit" class="row">
                <div class="form-group col-12">
                    <button (click)="onClick_Image()" class="btn btn-primary">Upload Image</button>
                </div>
            </div>
            <h1 *ngIf="!isEdit" class="name">{{ profile == null? '' : profile.firstName }} {{ profile == null? '' : profile.lastName }}</h1>
            <div *ngIf="isEdit" class="row">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input [(ngModel)]="profile.firstName" type="text" class="form-control" placeholder="Enter first name here" />
                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input [(ngModel)]="profile.lastName" type="text" class="form-control" placeholder="Enter last name here" />
                </div>
                <div class="form-group col-4">
                    <label>Google+ Link</label>
                    <input [(ngModel)]="profile.googlePlusLink" type="text" class="form-control" placeholder="Enter Google+ link here" />
                </div>
                <div class="form-group col-4">
                    <label>LinkedIn Link</label>
                    <input [(ngModel)]="profile.linkedInLink" type="text" class="form-control" placeholder="Enter LinkedIn link here" />
                </div>
                <div class="form-group col-4">
                    <label>Twitter Link</label>
                    <input [(ngModel)]="profile.twitterLink" type="text" class="form-control" placeholder="Enter Twitter link here" />
                </div>
            </div>

            <div *ngIf="!isEdit" class="title">{{ profile == null? '' : (profile.workExperiences.length > 0? profile.workExperiences[0].position : '') }}</div>

            <div *ngIf="!isEdit" class="profile">
                <p>{{ profile.about }}</p>
            </div>

            <div *ngIf="isEdit" class="row">
                <div class="col-12">
                    <textarea [(ngModel)]="profile.about" type="text" class="form-control" rows="5" placeholder="Enter about here"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-info">
        <div class="container text-center">
            <ul *ngIf="!isEdit" class="list-inline">
                <li class="email list-inline-item">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto: {{ profile == null? '' : profile.emailAddress }}">{{ profile == null? '' : profile.emailAddress }}</a>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-phone"></i>
                    <a href="tel: {{ profile.contactNumber }}">{{ profile == null? '' : profile.contactNumber }}</a>
                </li>
                <li class="website list-inline-item">
                    <i class="fa fa-globe"></i>
                    <a href="{{ profile == null? '' : profile.website }}" target="_blank">{{ profile == null? '' : profile.website }}</a>
                </li>
            </ul>
            <div *ngIf="isEdit" class="row">
                <div class="form-group col-4">
                    <label>Email Address</label>
                    <input [(ngModel)]="profile.emailAddress" type="text" class="form-control" placeholder="Enter email address here" />
                </div>
                <div class="form-group col-4">
                    <label>Contact Number</label>
                    <input [(ngModel)]="profile.contactNumber" type="text" class="form-control" placeholder="Enter contact number here" />
                </div>
                <div class="form-group col-4">
                    <label>Website</label>
                    <input [(ngModel)]="profile.website" type="text" class="form-control" placeholder="Enter website here" />
                </div>
            </div>
        </div>
    </div>
    <div class="page-nav-space-holder d-none d-md-block">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li class="nav-item">
                        <a class="scrollto nav-link" href="#experiences-section">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="scrollto nav-link" href="#education-section">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="scrollto nav-link" href="#skills-section">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="scrollto nav-link" href="#portfolio-section">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="scrollto nav-link" href="#contact-section">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="wrapper container">
    <section id="experiences-section" class="experiences-section section">
        <h2 class="section-title">Work Experiences</h2>
        <div *ngIf="profile != null && !isEdit" class="timeline">
            <div *ngFor="let workExperience of profile.workExperiences" class="item">
                <div class="work-place">
                    <h3 class="place">{{ workExperience.companyName }}</h3>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ workExperience.location }}
                    </div>
                </div>
                <div class="job-meta">
                    <div class="title">{{ workExperience.position }}</div>
                    <div class="time">{{ workExperience.from | date: 'MMMM yyyy' }} - {{ workExperience.currentlyEmployed? 'Present' : workExperience.to
                        | date: 'MMMM yyyy' }}</div>
                </div>
                <div class="job-desc">
                    <p>
                        {{ workExperience.description }}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit">
            <div *ngFor="let workExperience of profile.workExperiences" class="row">
                <div class="form-group col-4">
                    <label>Company Name</label>
                    <input [(ngModel)]="workExperience.companyName" type="text" class="form-control" placeholder="Enter company name here" />
                </div>
                <div class="form-group col-4">
                    <label>Location</label>
                    <input [(ngModel)]="workExperience.location" type="text" class="form-control" placeholder="Enter location here" />
                </div>
                <div class="form-group col-4">
                    <label>Position</label>
                    <input [(ngModel)]="workExperience.position" type="text" class="form-control" placeholder="Enter position here" />
                </div>
                <div class="form-group col-6">
                    <label>Date of Employment</label>
                    <input bsDatepicker [(bsValue)]="workExperience.from" #dp="bsDatepicker" type="text" class="form-control">
                </div>
                <div class="form-group col-6">
                    <label>Date of Termination</label>
                    <input [disabled]="workExperience.currentlyEmployed" bsDatepicker [(bsValue)]="workExperience.to" #dp="bsDatepicker" type="text"
                        class="form-control">
                    <input [(ngModel)]="workExperience.currentlyEmployed" type="checkbox" id="currentlyEmployed">
                    <label class="form-check-label" for="currentlyEmployed">Currently employed</label>
                </div>
                <div class="form-group col-12">
                    <label>Description</label>
                    <textarea [(ngModel)]="workExperience.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit" class="row">
            <div class="form-group col-4">
                <label>Company Name</label>
                <input [(ngModel)]="newWorkExperience.companyName" type="text" class="form-control" placeholder="Enter company name here"
                />
            </div>
            <div class="form-group col-4">
                <label>Location</label>
                <input [(ngModel)]="newWorkExperience.location" type="text" class="form-control" placeholder="Enter location here" />
            </div>
            <div class="form-group col-4">
                <label>Position</label>
                <input [(ngModel)]="newWorkExperience.position" type="text" class="form-control" placeholder="Enter position here" />
            </div>
            <div class="form-group col-6">
                <label>Date of Employment</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="newWorkExperience.from">
            </div>
            <div class="form-group col-6">
                <label>Date of Termination</label>
                <input [disabled]="newWorkExperience.currentlyEmployed" bsDatepicker [(bsValue)]="newWorkExperience.to" #dp="bsDatepicker"
                    type="text" class="form-control">
                <input [(ngModel)]="newWorkExperience.currentlyEmployed" type="checkbox" id="currentlyEmployed">
                <label class="form-check-label" for="currentlyEmployed">Currently employed</label>
            </div>
            <div class="form-group col-12">
                <label>Description</label>
                <textarea [(ngModel)]="newWorkExperience.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
            </div>
            <div class="form-group col-12">
                <button (click)="onClick_AddWorkExperience()" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
    </section>
    <section id="education-section" class="education-section section">
        <h2 class="section-title">Education</h2>
        <div *ngIf="profile != null && !isEdit" class="row">
            <div *ngFor="let education of profile.education" class="item col-12 col-md-4">
                <div class="item-inner">
                    <h3 class="degree">{{ education.qualification }}</h3>
                    <div class="education-body"> {{ education.institutionName }} </div>
                    <div class="time">{{ education.from | date: 'yyyy' }} - {{ education.to == null? 'Present' : education.to | date: 'yyyy'
                        }}
                    </div>
                    <div class="desc"> {{ education.description }} </div>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit">
            <div *ngFor="let education of profile.education" class="row">
                <div class="form-group col-6">
                    <label>Institution Name</label>
                    <input [(ngModel)]="education.institutionName" type="text" class="form-control" placeholder="Enter institution name here"
                    />
                </div>
                <div class="form-group col-6">
                    <label>Qualification</label>
                    <input [(ngModel)]="education.qualification" type="text" class="form-control" placeholder="Enter qualification here" />
                </div>
                <div class="form-group col-6">
                    <label>Start Date</label>
                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="education.from">
                </div>
                <div class="form-group col-6">
                    <label>End Date</label>
                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="education.to">
                </div>
                <div class="form-group col-12">
                    <label>Description</label>
                    <textarea [(ngModel)]="education.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit" class="row">
            <div class="form-group col-6">
                <label>Institution Name</label>
                <input [(ngModel)]="newEducation.institutionName" type="text" class="form-control" placeholder="Enter institution name here"
                />
            </div>
            <div class="form-group col-6">
                <label>Qualification</label>
                <input [(ngModel)]="newEducation.qualification" type="text" class="form-control" placeholder="Enter qualification here" />
            </div>
            <div class="form-group col-6">
                <label>Start Date</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="newEducation.from">
            </div>
            <div class="form-group col-6">
                <label>End Date</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="newEducation.to">
            </div>
            <div class="form-group col-12">
                <label>Description</label>
                <textarea [(ngModel)]="newEducation.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
            </div>
            <div class="form-group col-12">
                <button (click)="onClick_AddEducation()" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
    </section>
    <section id="skills-section" class="skills-section section text-center">
        <h2 class="section-title">Professional Skills</h2>
        <div class="top-skills">
            <h3 class="subtitle">Top Skills</h3>
            <div *ngIf="profile != null && !isEdit" class="row">
                <div *ngFor="let skill of profile.skills" class="item col-12 col-md-4">
                    <div class="item-inner">
                        <h4 class="skill-name">{{ skill.name }}</h4>
                        <div class="level">{{ skill.level }}, {{ skill.years }} years</div>
                        <div class="desc"> {{ skill.description }} </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit">
            <div *ngFor="let skill of profile.skills" class="row">
                <div class="form-group col-4">
                    <label>Name</label>
                    <input [(ngModel)]="skill.name" type="text" class="form-control" placeholder="Enter name here" />
                </div>
                <div class="form-group col-4">
                    <label>Level</label>
                    <select [(ngModel)]="skill.level" class="form-control">
                        <option [ngValue]="'Novice'">Novice</option>
                        <option [ngValue]="'Intermediate'">Intermediate</option>
                        <option [ngValue]="'Advanced'">Advanced</option>
                        <option [ngValue]="'Superior'">Superior</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <label>Years</label>
                    <input [(ngModel)]="skill.years" type="number" class="form-control" placeholder="Enter years here" />
                </div>
                <div class="form-group col-12">
                    <label>Description</label>
                    <textarea [(ngModel)]="skill.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit" class="row">
            <div class="form-group col-4">
                <label>Name</label>
                <input [(ngModel)]="newSkill.name" type="text" class="form-control" placeholder="Enter name here" />
            </div>
            <div class="form-group col-4">
                <label>Level</label>
                <select [(ngModel)]="newSkill.level" class="form-control">
                    <option [ngValue]="'Novice'">Novice</option>
                    <option [ngValue]="'Intermediate'">Intermediate</option>
                    <option [ngValue]="'Advanced'">Advanced</option>
                    <option [ngValue]="'Superior'">Superior</option>
                </select>
            </div>
            <div class="form-group col-4">
                <label>Years</label>
                <input [(ngModel)]="newSkill.years" type="number" class="form-control" placeholder="Enter years here" />
            </div>
            <div class="form-group col-12">
                <label>Description</label>
                <textarea [(ngModel)]="newSkill.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
            </div>
            <div class="form-group col-12">
                <button (click)="onClick_AddSkill()" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
        <!-- <div class="other-skills">
            <h3 class="subtitle">Other Skills</h3>
            <div class="misc-skills">
                <span class="skill-tag">HTML5</span>
                <span class="skill-tag">CSS3</span>
                <span class="skill-tag">SASS</span>
                <span class="skill-tag">LESS</span>
                <span class="skill-tag">Git</span>
                <br>
                <span class="skill-tag">Ruby</span>
                <span class="skill-tag">PHP</span>
                <span class="skill-tag">Wireframe</span>
                <span class="skill-tag">Spanish</span>
                <span class="skill-tag">French</span>
            </div>
        </div> -->
    </section>
    <section id="portfolio-section" class="portfolio-section section">
        <h2 class="section-title">Portfolio</h2>
        <div *ngIf="profile != null && !isEdit" class="items-wrapper isotope row">
            <div *ngFor="let item of profile.portfolio" class="item col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="{{ item.image }}" alt="" />
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title">
                            <a href="{{ item.link == null? '#' : item.link }}">{{ item.name }}</a>
                        </h3>
                        <div class="meta">{{ item.description }}</div>
                        <div *ngIf="item.link != null" class="action">
                            <a href="{{ item.link }}">View</a>
                        </div>
                    </div>
                    <a class="link-mask" href="#"></a>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit">
            <div *ngFor="let item of profile.portfolio" class="row">
                <div class="form-group col-6">
                    <label>Name</label>
                    <input [(ngModel)]="item.name" type="text" class="form-control" placeholder="Enter name here" />
                </div>
                <div class="form-group col-6">
                    <label>Link</label>
                    <input [(ngModel)]="item.link" type="text" class="form-control" placeholder="Enter link here" />
                </div>
                <div class="form-group col-12">
                    <img class="img" src="{{ item.image }}" alt="" width="75" />
                    <button (click)="onClick_PortfolioItemImage(item)" class="btn btn-primary">Upload Image</button>
                </div>
                <div class="form-group col-12">
                    <label>Description</label>
                    <textarea [(ngModel)]="item.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit" class="row">
            <div class="form-group col-6">
                <label>Name</label>
                <input [(ngModel)]="newPortfolioItem.name" type="text" class="form-control" placeholder="Enter name here" />
            </div>
            <div class="form-group col-6">
                <label>Link</label>
                <input [(ngModel)]="newPortfolioItem.link" type="text" class="form-control" placeholder="Enter link here" />
            </div>
            <div class="form-group col-12">
                <img class="img" src="{{ newPortfolioItem.image }}" alt="" width="75" />
                <button (click)="onClick_PortfolioItemImage(newPortfolioItem)" class="btn btn-primary">Upload Image</button>
            </div>
            <div class="form-group col-12">
                <label>Description</label>
                <textarea [(ngModel)]="newPortfolioItem.description " type="text" class="form-control" rows="5" placeholder="Enter description here"></textarea>
            </div>
            <div class="form-group col-12">
                <button (click)="onClick_AddPortfolioItem()" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
    </section>
    <section id="contact-section" class="contact-section section">
        <h2 class="section-title">Get in Touch</h2>
        <div *ngIf="profile != null && !isEdit" class="intro">
            <img class="profile-image" src="http://via.placeholder.com/300x300" alt="">
            <div class="dialog">
                <p>
                    {{ profile.message }}
                </p>
                <p>Drop me a line at
                    <a href="mailto: {{ profile == null? '' : profile.emailAddress }}">{{ profile == null? '' : profile.emailAddress }}</a> or call me at
                    <a href="tel: {{ profile == null? '' : profile.contactNumber }}">{{ profile == null? '' : profile.contactNumber }}</a>
                </p>
                <ul class="social list-inline">
                    <li *ngIf="profile == null? false : (profile.linkedInLink == null? false : profile.linkedInLink)" class="list-inline-item">
                        <a href="{{ profile.linkedInLink }}">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li *ngIf="profile == null? false : (profile.twitterLink == null? false : profile.twitterLink)" class="list-inline-item">
                        <a href="{{ profile.twitterLink }}">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li *ngIf="profile == null? false : (profile.googlePlusLink == null? false : profile.googlePlusLink)" class="list-inline-item">
                        <a href="{{ profile.googlePlusLink }}">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="profile != null && isEdit" class="row">
            <div class="form-group col-12">
                <label>Message</label>
                <textarea [(ngModel)]="profile.message " type="text" class="form-control" rows="5" placeholder="Enter message here"></textarea>
            </div>
        </div>
    </section>
</div>
<footer class="footer text-center">
    <div class="container">
        <small class="copyright"> Copyright @
            <a href="https://developersworkspace.co.za" target="_blank">Octo Profile</a>
        </small>
    </div>
</footer>