<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="/admin/home">
                <img src="{{ profile.image == null? 'https://via.placeholder.com/350x350' : profile.image | safeHtml }}" style="width: 50px"
                    class="img-circle m-b" alt="logo"> </a>
            <div class="stats-label text-color">
                <span *ngIf="profile.personalInformation != null" class="font-extra-bold font-uppercase">{{ profile.personalInformation.firstName }} {{ profile.personalInformation.lastName }}</span>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin/home">
                    <span class="nav-label">Home</span>
                </a>
                <a href="/admin/dashboard">
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</aside>